<% layout('layouts/boilerplate') %>

<main class="min-vh-100 min-vw-100">
   <!-- <div class="container mt-4 mb-4 d-flex flex-column">
    <h4>My Cart</h4>
     <% if(cart_products.length == 0){ %>
      <div class="align-self-center d-flex flex-column align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" fill="currentColor" class="bi bi-cart text-danger" viewBox="0 0 16 16">
          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
        </svg>
        <p class="pt-4 fs-4 fw-semibold">Your cart is empty</p>
        <p class="pt-1 fw-medium">Add something to make me happy:)</p>
      </div>
     <% } %>

    <% for(let product of cart_products){ %>
    <% product.image[0] = product.image[0].replace('public', '') %>
    <div class="card my-1">
      <div class="row">
        <div class="col-5 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
          <img class="img-thumbnail object-fit-contain m-1" style="height : 200px; width : 200px" src="<%= product.image[0] %>"  alt="...">
        </div>
        <div class="col-5 col-md-5 col-lg-4 col-xl-5 col-xxl-5 card-body-grp d-flex flex-column justify-content-center">
          <p class="fs-4 text-capitalize product-name fw-medium" data-product-id="<%= product._id %>"><%= product.productName %></p>
          <p class="fw-medium cart-product-price">Price : <%= product.price %></p>
          <div>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="productcountdecrementbtn">-</button>
              <input type="text" class="productcount" value="1" readonly>
              <button type="button" class="productcountincrementbtn">+</button>
            </div>
            <button type="button" class="btn btn-warning mt-1" style="width : 150px;">Buy Now</button>
          </div>
        </div>
        <div class="col position-relative mx-3">
          <a href="/user/cart/delete/<%= product._id %>"><i class="bi bi-trash3-fill position-absolute top-0 end-0" style="font-size : 25px"></i></a>
        </div>
      </div>
    </div>
   <% } %>

   <div class="row">

    <div class="col">
    </div>

    <div class="col">
      <table class="table">
        <tbody>
          <tr>
            <td>Total Items(0)</td>
            <td>Price:</td>
            <td>₹:<%= productSum %></td>
          </tr>
          <tr>
            <td>Delivery Charges</td>
            <td>(00)</td>
          </tr>
          <tr>
            <td colspan="2" class="text-end">To Pay:</td>
            <td class="product-sum">₹<%= productSum %>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn me-3 btn-warning">Proceed to Pay</button>
      <button type="button" class="btn removeall-btn btn-danger">Remove All</button>
    </div>

   </div>

  </div>  -->

  <!-- new -->

  <div class="cartContainer pt-5 navmargin">
    <div class="leftContainer rounded shadow">
      <div class="py-4 rounded border">
        <div class="cartNavBar p-3 d-flex justify-content-between">
          <div class="d-flex">
            <h5 class="font ms-4">Product</h5>
          </div>
          <div class="d-flex navContent2 justify-content-between">
            <h5 class="font quantityNavHeadline">Quantity</h5>
            <h5 class="font">Price</h5>
          </div>
        </div>
        <span class="seperator"></span>
        <% for(let product of cart_products){ %>
        <% product.image[0] = product.image[0].replace('public', '') %>
        <div class="products px-3 d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <img class="productImg object-fit-contain" src="<%= product.image[0] %>" alt="">
            <div class="ms-3">
               <h4 class="font product-name" data-product-id="<%= product._id %>"><%= product.productName  %></h4>
               <p class="font">small</p>
            </div>
          </div>

          <div class="d-flex productPricing align-items-center justify-content-between">
            <div class="productName" data-product-id="<%= product._id %>">
              <div class="prdQuantityWraper">
                <button type="button" class="productcountdecrementbtn">-</button>
                <input type="text" class="productcount" value="1" readonly>
                <button type="button" class="productcountincrementbtn">+</button>
              </div>
              <a href="/user/cart/delete/<%= product._id %>"><button class="removeBtn"><i class="bi bi-trash"></i>Remove</button></a>
            </div>
            <h5 class=""> <%= product.price %></h5>
          </div>
        </div>
        <span class="seperator"></span>
        <% } %>
      </div>
    </div>
  
  <div class="rightContainer shadow border ms-3 rounded ">
    <div class="addressSection border m-3 rounded p-2">
       <h4 class="text-decoration-underline">Delivery Address</h4>
       <div class="ms-2">
        <p class="m-0">Name</p>
       <p class="m-0">Address ddojfjadsf sdfjlasj fdjklfkasdj </p>
       <p class="m-0">pincode</p>
       <p class="m-0">0000000000</p>
       </div>
    </div>
    <div class="couponSection  ms-3">
       <h3>Apply Coupon</h3>
       <input class="couponInput" type="text">
       <button class="btn couponApplyBtn btn-dark px-3">Apply</button>
    </div>
    <div class="totalAmount m-3">
      <div class="subtotal d-flex justify-content-between">
         <span class="font mb-3">Subtotal</span>
         <span class="subtotalValue">₹<%= productSum  %> </span>
      </div>
      
      <div class="discount d-flex justify-content-between">
        <span class="font mb-3">Discount(Coupon)</span>
        <span class="coupon">₹</span>
      </div>
      
      <div class="delivey d-flex justify-content-between">
         <span class="font mb-3">Delivery</span>
         <span>₹000</span>
      </div>
      <span class="seperator mb-3"></span>
      <div class="grandTotal d-flex justify-content-between">
         <span class="font mb-3">Grand Total</span>
         <span class="product-sum">₹<%= productSum %></span>
      </div>
      <button class="btn shadow btn-dark font checkOutBtn" data-bs-toggle="modal" data-bs-target="#checkoutPaymentModal">Checkout</button>
    </div>
  </div>

  </div>


  <div class="modal fade" id="checkoutPaymentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form id="paymentForm">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Choose Payment Method</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div>
            <input class="disabled" id="upi" value="UPI" name="paymentSelect" type="radio" >
            <label for="upi">UPI</label>
          </div>
          <div>
            <input id="Cod" name="paymentSelect" value="COD" type="radio">
            <label  for="Cod">Cash On Delivery</label>
          </div>
          <div>
            <input id="debitCard" name="paymentSelect" value="Debit Card" type="radio" >
            <label for="debitCard">Debit Card</label>
          </div>
    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn border-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" productIdData="" class="btn btn-primary  cartProceedToPayment">Proceed</button>
        </div>
       </form>
      </div>
    </div>
  </div>
  

</main>

<script src="/script/cartScript.js"></script>