<% layout('layouts/boilerplate') %>

<main class="min-vh-100 min-vw-100">
   
  <div class="cartContainer pt-5 navmargin">
    <div class="leftContainer rounded shadow">
      <div class="py-4 rounded border">
        <div class="cartNavBar p-3 d-flex justify-content-between">
          <div class="d-flex">
            <h5 class="font ms-4">Product</h5>
          </div>
          <div class="d-flex navContent2 justify-content-between">
            <h5 class="font quantityNavHeadline">Quantity</h5>
            <h5 class="font">Price</h5>
          </div>
        </div>
        <span class="seperator"></span>
        <% for(let product of cart_products){ %>
        <% product.image[0] = product.image[0].replace('public', '') %>
        <div class="products px-3 d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <img class="productImg object-fit-contain" src="<%= product.image[0] %>" alt="">
            <div class="ms-3">
               <h4 class="font product-name" data-product-id="<%= product._id %>"><%= product.productName  %></h4>
               <p class="font">small</p>
            </div>
          </div>

          <div class="d-flex productPricing align-items-center justify-content-between">
            <div class="productName" data-product-id="<%= product._id %>">
              <div class="prdQuantityWraper">
                <button type="button" class="productcountdecrementbtn">-</button>
                <input type="text" class="productcount" value="1" readonly>
                <button type="button" class="productcountincrementbtn">+</button>
              </div>
              <a href="/user/cart/delete/<%= product._id %>"><button class="removeBtn"><i class="bi bi-trash"></i>Remove</button></a>
            </div>
            <h5 class=""> <%= product.price %></h5>
          </div>
        </div>
        <span class="seperator"></span>
        <% } %>
      </div>
    </div>
  
  <div class="rightContainer shadow border ms-3 rounded ">
    <div class="addressSection border m-3 rounded p-2">
       <h4 class="text-decoration-underline">Delivery Address</h4>
       <div class="d-flex">
        <input value="useDefaultAddress" id="addressCheckBox" type="checkbox">
        <label for="addressCheckBox" class="ms-2 border border-secondary rounded p-2">
         <p class="m-0"><%= userAddress.personName %></p>
         <p class="m-0"><%= userAddress.address %></p>
         <p class="m-0"><%= userAddress.pincode  %></p>
         <p class="m-0"><%= userAddress.district  %></p>
         <p class="m-0"><%= userAddress.phone %></p>
        </label>
       </div>
       <div class="text-danger addressWarning d-none">Please select an address to continue*</div>
      </div>
    <div class="couponSection  ms-3">
       <h3>Apply Coupon</h3>
       <input class="couponInput" type="text">
       <button class="btn couponApplyBtn btn-dark px-3">Apply</button>
    </div>
    <div class="totalAmount m-3">
      <div class="subtotal d-flex justify-content-between">
         <span class="font mb-3">Subtotal</span>
         <span class="subtotalValue">₹<%= productSum  %> </span>
      </div>
      
      <div class="discount d-flex justify-content-between">
        <span class="font mb-3">Discount(Coupon)</span>
        <span class="coupon">₹</span>
      </div>
      
      <div class="delivey d-flex justify-content-between">
         <span class="font mb-3">Delivery</span>
         <span>₹000</span>
      </div>
      <span class="seperator mb-3"></span>
      <div class="grandTotal d-flex justify-content-between">
         <span class="font fs-3 mb-3">Grand Total</span>
         <span class="product-sum fs-3">₹<%= productSum %></span>
      </div>
      <button class="btn shadow btn-dark font checkOutBtn" data-bs-toggle="modal" data-bs-target="#checkoutPaymentModal">Checkout</button>
    </div>
  </div>

  </div>


  <div class="modal fade" id="checkoutPaymentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form id="paymentForm">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Choose Payment Method</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="d-none text-danger selectAddressWarning">Please select an address to continue the payment*</p>
          <div>
            <input class="disabled" id="upi" value="UPI" name="paymentSelect" type="radio" >
            <label for="upi">UPI</label>
          </div>
          <div>
            <input id="Cod" name="paymentSelect" value="COD" type="radio">
            <label  for="Cod">Cash On Delivery</label>
          </div>
          <div>
            <input id="debitCard" name="paymentSelect" value="Debit Card" type="radio" >
            <label for="debitCard">Debit Card</label>
          </div>
    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn border-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" productIdData="" class="btn btn-primary  cartProceedToPayment">Proceed</button>
        </div>
       </form>
      </div>
    </div>
  </div>
  

</main>

<script src="/script/cartScript.js"></script>