<% layout('layouts/boilerplate') %>

<div class="d-md-flex navmargin">

  <div class="sidenavToggler d-md-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSideNav">
    <div>
      <i class="bi bi-three-dots-vertical"></i>
    </div>
  </div>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSideNav" aria-labelledby="offcanvasSideNavLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="side-nav-smdevice d-flex flex-column align-items-center rounded">
        <i class="bi bi-person-circle text-light" style="font-size: 5rem"></i>
        <h2 class="text-light">Username</h2>
          <div class="m-2 px-2 w-100 d-flex flex-column">
            <a href="/user/user_account"><button class="btn btn-light w-100 mb-3">Profile</button></a>
            <a href="/user/myorders"><button class="btn btn-light w-100 mb-3 ">My Orders</button></a>
            <a href=""><button class="btn btn-light w-100 mb-3 ">Cart</button></a>
            <a href=""><button class="btn btn-light w-100 mb-3 ">My Coupons</button></a>
            <a href="/user/user_account/address_management/<%= user._id %>"><button class="btn btn-light w-100 mb-3 ">Manage Address</button></a>
          </div>
      </div>
    </div>
  </div>

  <div class="side-nav d-md-flex flex-column align-items-center rounded">
    <i class="bi bi-person-circle text-light" style="font-size: 5rem"></i>
    <h2 class="text-light">Username</h2>
      <div class="m-2 px-2 w-100 d-flex flex-column">
        <a href="/user/user_account"><button class="btn btn-light w-100 mb-3">Profile</button></a>
        <a href="/user/myorders"><button class="btn btn-light w-100 mb-3 ">My Orders</button></a>
        <a href=""><button class="btn btn-light w-100 mb-3 ">Cart</button></a>
        <a href=""><button class="btn btn-light w-100 mb-3 ">My Coupons</button></a>
        <a href="/user/user_account/address_management/<%= user._id %>"><button class="btn btn-light w-100 mb-3 ">Manage Address</button></a>
      </div>
  </div>

  <div class="container vh-100 overflow-y-scroll">
    <% for(let order of orders){ %>
    <div class="d-flex ordersBody mt-2 flex-column border">
      <div class="ordersHeadline d-flex justify-content-between">
        <div class="d-flex orderHeadlineDetails justify-content-evenly">
          <div class="d-flex justify-content-center flex-column align-items-center">
            <span class="fw-medium">Order number</span>
            <span class="text-secondary">#<%= order.orderId %></span>
           </div>
           <div class="d-flex justify-content-center flex-column align-items-center">
            <span class="fw-medium">Data placed</span>
            <span class="text-secondary">Jun 7,2024</span>
           </div>
           <div class="d-flex justify-content-center flex-column align-items-center">
            <span class="fw-medium">Total amount</span>
            <span class="text-secondary">₹<%= order.orderAmount %></span>
           </div>
        </div>
        <div class="orderBtnGrp">
          <button class="orderDetails" data-bs-toggle="modal" data_orderId="<%= order.orderId  %>" data-bs-target="#exampleModal">View Order</button>
          <button >View Invoice</button>
        </div>
      </div>
      <div class="row h-100">
           <div class="col-2 m-2">
            <img class="object-fit-cover h-100 rounded w-100" src="<%= order.productId.image[0].replace('public','')  %>" alt="">
           </div>
           <div class="col-6 d-flex justify-content-center flex-column">
            <div class="arrivingDate fs-4 fw-medium">Arrives by <span class="text-success">Jun,7</span></div>
            <div class="d-flex align-items-center mt-4">
              <div class="orderPlaced">
                <span class="orderPlacedText">Order placed</span>
              </div>
              <div class="orderShipped">
                <span class="orderShippedText">Order shipped</span>
              </div>
              <div class="orderOutForDelivery">
                <span class="outForDeliveryText">Out for delivery</span>
              </div>
              <div class="orderDelivered">
                <span class="deliveredText">Delivered</span>
              </div>
            </div>
            <h3><%= order.productId.productName  %></h3>
            <p><%= order.productId.description %></p>
           </div>
           <div class="col d-flex align-items-center justify-content-center">
            
            <p class="fs-4">₹<%= order.orderAmount %></p>
           </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 font" id="exampleModalLabel">Order details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-2">
          <span class="fs-4 font">Order Id : </span><span class="orderId text-secondary fs-4"></span>
        </div>
        <div class="mb-2">
          <span class="fw-medium font">Order amount : ₹</span><span class="orderAmount"></span>
        </div>
        <div class="mb-2">
          <span class="fw-medium font">Payment type : </span><span class="paymentMethod"></span>
        </div>
        <div class="mb-2">
          <span class="fw-medium font">Order status : </span><span class="orderStatus"></span>
        </div>
        <div class="mb-2">
          <span class="fw-medium font">Payment status : </span><span class="paymentStatus"></span>
        </div>
        <div class="mb-2">
          <span class="fw-medium font">Order placed on : </span><span class="orderPlacedOn"></span>
        </div>
        <div>

          <button class="btn btn-danger returnRequestBtn">Request return</button>
          <button class="btn btn-danger">Cancel the order</button>

          <select class="form-select form-select-sm mt-2" aria-label="Small select example">
            <option selected>Select the reason for canceling the order</option>
            <option value="1">Item mismatch</option>
            <option value="2">Damaged product</option>
            <option value="3">Quality issue</option>
            <option value="4">Recieved wrong size</option>
            <option value="5">Others</option>
          </select>

          <select class="form-select form-select-sm mt-2" aria-label="Small select example">
            <option selected>Select the reason for returning the order</option>
            <option value="1">Item mismatch</option>
            <option value="2">Damaged product</option>
            <option value="3">Quality issue</option>
            <option value="4">Recieved wrong size</option>
            <option value="5">Others</option>
          </select>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Proceed</button>
      </div>
    </div>
  </div>
</div>


<script src="/script/orderscript.js" defer></script>